@import "base/variables";

.collection-links {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
};


.original-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    color: $very-dark-violet;
};

.cropped-link {
    color: $cyan;
};

.copy{
};

.copied{
    background-color: $very-dark-violet;
};