@import "base/variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-color: $gray;
    height: 100%;
   // margin: 0 1.5em 0 1.5em;
};

input, button {
    font-family: "Poppins";
    border-style: none;
};


h1, h2, h3, button {
    font-weight: $bold;
};

p,span {
    font-weight: $medium;
    font-size: $standard-size;
};

button {
    cursor: pointer;
};

button:hover {
    background-color: lighten($color: $cyan, $amount: 25);
};

/*
p {
  display: inline-block;
}
*/